.container {
  height: 100%;
  /* display: grid;
  grid-gap: 10px;
  grid-template: 100px 1fr  / 200px 1fr;
  grid-template-areas:
    'logo header'
    'main main' */
  /* 'footer footer'; */
}

.container * {
  /* padding: 10px 15px; */
  /* font-size: 22px; */
  font-family: sans-serif;
  color: rgb(24, 21, 21);
}
a {
  text-decoration:none
}