element {
  --pricolor: #237a7a;
}

.btnclick {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #074a4a;
  color: #fff;
}

button.btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: solid 1px;
  background-color: rgba(186, 236, 236, 0.5);
  color: #237a7a;
}

button.btn2 {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: solid 1px;
  background-color: rgba(186, 236, 236, 0.8);
  color: #237a7a;
}

.scrol {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

.notshow {
  /* Видимость 0-невидимый, 1-видимый */
  opacity: 0;
  transition: 0.5s;
}

.show {
  opacity: 1;
}

button {
  cursor: pointer;
}
