.post {
  margin: 0px 40px 0px 10px;
  padding: 1px 0;
  /* border: 1px solid black; */
}

.color1 {
  background-color: rgba(180, 191, 207, 0.315);
}

.color2 {
  background-color:rgba(142, 151, 165, 0.941)
}

p {
  word-spacing: 5px;
}

.btnposts {
  position: fixed;
  right: 40px;
  top: 170px;
}

.btn1 {
  position: fixed;
  right: 40px;
  bottom: 20px;
}

.goback {
  position: fixed;
  right: 90px;
  top: 120px;
}

.text {
  margin: 10px 50px;
  padding: 0 20px;
}

.coment {
  margin-top: 3px;
  padding: 10px 10px;
  border: 1px dashed;
}
.cursor {
  cursor: pointer;
}

.line a {
  text-decoration-line: underline;
  color: rgb(24, 21, 21);
}

.cont * {
  color: rgb(24, 21, 21);
  text-decoration: none;
  list-style-type: none;
}

.cont {
  padding-bottom: 30px;
}

.comments {
  list-style-type: none;
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
}

.item  {
  padding: 0 40px;
}

.marg {
  margin: 10px 20px ;
}

.itempage {
  padding-bottom: 30px;
}