.post {
  margin: 10px 40px 10px 10px;
  padding: 10px 0;
  /* border: 1px solid black; */
}

.color {
  background-color: rgba(180, 191, 207, 0.715);
}

p {
  word-spacing: 5px;
}

.btnposts {
  position: fixed;
  right: 40px;
  top: 170px;
}

.btn1 {
  position: fixed;
  right: 40px;
  bottom: 20px;
}

.goback {
  position: fixed;
  right: 90px;
  top: 120px;
}

.text {
  margin: 10px 50px;
  padding: 0 20px;
}

.coment {
  margin: 10px 40px 10px 10px;
  padding: 10px 20px;
  border:  1px dashed;
}
.cursor {
  cursor: pointer;
}

.line{
  text-decoration-line: underline;
}

.cont *{
  color: rgb(24, 21, 21);
}
